<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자동 완성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 이게 없으면 한글 검색 x -->
    <meta charset="utf-8">
    <!-- jQuery ui style sheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery ui library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {


        $("#btn_search").click(function () {
            var word=$("#input_search").val();

            var action="insertword.ajax";

            var form={
                "word":word
            }

            $.ajax({
                type:"POST",
                url:action,
                data:form,
                success:function (data) {
                    var input=document.getElementById("input_search")
                    input.value = null;
                    input.focus
                }
            });
        });

        $("#input_search").autocomplete({
            source: function(request, response){
                let word = $("#input_search").val();
                console.log(word);
                $.ajax({
                    type:"get",
                    url:"selectword.ajax",
                    data: {"word" : word},
                    success:function (data) {
                        let list=  data.HashMapList;
                        console.log(list);
                        console.log(data);
                        response(
                            list
                        );
                    }
                });
            },
        });

    });
</script>
<style>
    .div_total{
        display: flex;
        flex-direction: column;
        min-height:300px;
        width:100%;
        align-items:center;
        text-align: center;
    }
    .div_search{
        display: flex;
        flex-direction: row;
    }
</style>
<div class="div_total">
    <h2>자동 완성 기능 구현</h2>
    <div class="div_search">
        <input id="input_search" type="text">
        <button id="btn_search">검색</button>
    </div>
</div>

{{#selectList}}
    <b>{{hotelNm}}</b>
    <b>{{hotelAdres}}</b>
{{/selectList}}



</body>
</html>